/* HOJA DE ESTILOS BASE */
/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: black;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 75px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center ;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
    transition: background-color 500ms linear;
  
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }  

h1, h2 {
  color: white;
  text-decoration: underline;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center ;

}
 h3 {
  color: rgb(237, 239, 165);
font-size: larger;
font-family: Verdana;
 
 }

.conteiner , body
{
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: black;
}
.div.conteiner
{
    color: black;
    margin-top: 30px;
    font-size: 24px;
    width: 300px;
    text-align: center;
    background-color: blueviolet;
}

.color-select
{
display: flex;
justify-content: center ;
background-color: black;
text-align: center;
align-items: center;
}
.foto 
{
    background: black;
    width: 200px;
    height:200px ;
    border-radius: 100px;
    margin-right: 100px;
    display: flex;
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center ;
}
